
#Editor {
  height: 100%;
  padding: 12px;
  border-right: 2px solid black;
  background-color:white;
  position: absolute;
  top:0;
  left: 0;
  transition : 0.25s ease transform, 0.25s ease opacity, 0.25s ease color, 0.25s ease width;
  transform: translate3d(0,0,0);
}

#Editor.--is-open {
  width: 240px;
  transform: translate3d(0,0,0);
}

#Editor.--is-full-screen {
  width: 100%;
  transform: translate3d(0,0,0);
}

#Editor.--is-closed {
  width: 240px;
  transform: translate3d(-170px,0,0);
}

#EditorContent {
  position:relative;
}