*,
*:before,
*:after {
  font-size : 12px;

  box-sizing : border-box;

  cursor : default;
  user-select : none;
  transition : 0.25s ease transform, 0.25s ease opacity, 0.25s ease color;
}

html,
body {
  font-family : 'larabiefont', monospace;

  top : 0;
  left : 0;

  width : 100%;
  margin : 0;
  padding : 0;

  letter-spacing : 0.1em;

  color : black;
}

h1,
h2,
h3,
h4,
h5,
ul,
ol,
li {
  display : block;

  margin : 0;
  padding : 0;

  list-style : none;
}
